/*ALL*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root {
    --vert: #00A650;
    --color-dark: #1d2231;
    --text-grey: #8390a2;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    height: 100vh;
    scroll-behavior: smooth;
    font-size: 16px;
    background: #f1f5f9;
}

a {
    color: inherit;
}


/*END ALL*/

.sidebar {
    width: 345px;
    position: fixed;
    height: 100%;
    background: var(--vert);
    top: 0;
    left: 0;
    z-index: 100;
    transition: width 300ms ease-in-out;
}

.sidebar-brand {
    height: 90px;
    padding: 1rem 0 1rem 2rem;
    color: #fff;
}

.text-danger {
    color: #dc3545 !important;
}

.sidebar-menu {
    margin-top: 1rem;
}

.sidebar-menu li {
    width: 100%;
    margin-bottom: 1.7rem;
    padding-left: 1rem;
}

.sidebar-menu a {
    padding-left: 1rem;
    display: block;
    color: #fff;
    font-size: 1.1rem;
}

.sidebar-menu a.active {
    background: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(--vert);
    border-radius: 30px 0 0 30px;
}

.sidebar .sidebar-menu ul li {
    transition: all .3s ease-in-out;
}

.sidebar .sidebar-menu ul li:hover {
    transform: translateX(10px);
}

.sidebar-menu a span:first-child {
    font-size: 1.5rem;
    padding-right: 1rem;
}

#nav-toggle:checked+.sidebar {
    width: 70px;
}

#nav-toggle:checked+.sidebar .sidebar-brand,
#nav-toggle:checked+.sidebar li {
    padding-left: 1rem;
}

#nav-toggle:checked+.sidebar .sidebar-brand h2 span,
#nav-toggle:checked+.sidebar li a span:last-child {
    display: none;
}

#nav-toggle:checked~.main-content {
    margin-left: 70px;
}

#nav-toggle:checked~.main-content header {
    width: calc(100% - 70px);
    left: 70px;
}

.main-content {
    transition: margin-left 300ms ease-in-out;
    margin-left: 345px;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
    position: fixed;
    left: 345px;
    width: calc(100% - 345px);
    top: 0;
    z-index: 200;
    background: #fff;
    transition: left 300ms ease-in-out;
}

#nav-toggle {
    display: none;
}

header h2 {
    color: #222;
}

header label span {
    font-size: 1.7rem;
    padding-right: 1rem;
}

.search-wrapper {
    border: 1px solid #ccc;
    border-radius: 30px;
    height: 50px;
    display: flex;
    align-items: center;
    overflow-x: hidden;
}

.search-wrapper span {
    display: inline-block;
    padding: 0 1rem;
    font-size: 1.5rem;
}

.search-wrapper input {
    height: 100%;
    padding: .5rem;
    border: none;
    outline: none;
}

.user-wrapper {
    display: flex;
    align-items: center;
}

main {
    padding: 85px 1.5rem 2rem 1.5rem;
    min-height: calc(100vh - 90px);
}

main .permutation .form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main .permutation .form form {
    padding: 15px;
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, .2);
}

main .permutation .form form .row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

main .permutation .form form .row:not(:last-child) {
    margin-bottom: 20px;
}

main .permutation .form form .row label {
    width: 250px;
}

main .permutation .form form .row :nth-child(2) {
    width: 250px;
    outline: none;
    height: 50px;
    padding: 5px;
}

main .permutation .form form .button button {
    background: var(--vert);
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: ease 0.3s;
    border: var(--vert) 1px solid;
    color: #fff;
}

main .permutation .form form .button button:hover {
    background: #fff;
    border: var(--vert) 1px solid;
    color: var(--vert);
}


/*1200px*/

@media (max-width:1200px) {
    .sidebar {
        width: 300px;
    }
    header {
        left: 300px;
        width: calc(100% - 300px);
    }
    .main-content {
        margin-left: 300px;
    }
}


/*end 1200px*/


/*media querry 1024px*/

@media (max-width:1024px) {
    .sidebar {
        width: 70px;
    }
    .sidebar .sidebar-brand,
    .sidebar li {
        padding-left: 1rem;
    }
    .sidebar .sidebar-brand h2 span,
    .sidebar li a span:last-child {
        display: none;
    }
    .main-content {
        margin-left: 70px;
    }
    .main-content header {
        width: 100%;
        left: 0px;
    }
    #nav-toggle:checked~.main-content header {
        width: 100%;
        left: 0px;
    }
    #nav-toggle:checked~.main-content {
        margin-left: 0;
    }
    #nav-toggle:checked+.sidebar {
        left: 0 !important;
        z-index: 100;
        width: 345px;
    }
    #nav-toggle:checked+.sidebar {
        width: 345px;
        z-index: 200;
    }
    #nav-toggle:checked+.sidebar .sidebar-brand,
    #nav-toggle:checked+.sidebar li {
        padding-left: 2rem;
    }
    #nav-toggle:checked+.sidebar .sidebar-brand h2 span,
    #nav-toggle:checked+.sidebar li a span:last-child {
        display: inline;
    }
}


/*end media querry*/


/*media querry 960px*/

@media (max-width:960px) {
    .sidebar {
        left: -100% !important;
    }
    header {
        width: 100% !important;
        left: 0 !important;
    }
    header h2 {
        display: flex;
        align-items: center;
    }
    header h2 label {
        display: inline-block;
        background: var(--vert);
        padding-right: 0rem;
        margin-right: 1rem;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    header h2 span {
        text-align: center;
        padding-right: 0;
    }
    header h2 .dash {
        display: none;
    }
    .main-content {
        width: 100%;
        padding-left: 0;
        margin-left: 0;
    }
}


/*end media querry 960*/


/*578px*/

@media (max-width:578px) {
    /*main*/
    main .permutation .form {
        display: flex;
        justify-content: center;
    }
    /*main*/
}


/*end578px*/


/*477px*/

@media (max-width:476px) {
    header .user-wrapper {
        display: none;
    }
}


/*end 477*/