/*All page*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root {
    --orange : #F8941E;
    --vert : #00A650;
}
*{
    font-family: Poppins;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: inherit;
}
body{
    font-size: 16px;
    word-wrap: break-word;
}
/*End All page*/

/*Header*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--vert);
    color: white;
    padding: 0.5em;
    font-size: 1.5rem;
    font-weight: 600;
    position: fixed;
    z-index: 2;
    width: 100%;
}
header .menu{
    display: none;
}

/*End Header*/

/*main*/
main{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../images/hero.jpg) center no-repeat;
    background-size: cover;
    height: 100vh;
}
main .background{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main .background .title{
    color: white;
    text-shadow: 1px 1px 2px #000, 0 0 10px #000, 0 0  4px #000;
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
}
main .background .btn{
    font-size: 1.5rem;
    background-color: var(--orange);
    color: white;
    font-size: 400;
    padding: 0.5em;
    border-radius: 10px;
}
main .background .btn:hover{
    cursor: pointer;
    background: #fff;
    color: var(--orange);
    transition: 0.3s;
}
/*end main*/

/*************************************MEDIA QUERY**********************************/
/*576PX*/
@media (max-width: 576px)
/*header*/
{   
    header .menu{
        display: block;
        margin-right: 2em;
        cursor: pointer;
    }
}
/*end header*/
/*main*/
main .background .title{
    font-size: 1.5rem;
}
main .background .btn{
    font-size: 1rem;
}
/*end main*/
/*END 576*/