/*All page*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root {
    --orange: #F8941E;
    --vert: #00A650;
}

* {
    font-family: Poppins;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: inherit;
}

body {
    font-size: 16px;
    word-wrap: break-word;
    background: #f1f5f9;
}


/*End All page*/


/*Header*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--vert);
    color: white;
    padding: 0.5em;
    font-size: 1.5rem;
    font-weight: 600;
    position: fixed;
    z-index: 2;
    width: 100%;
}

header .menu {
    display: none;
}

header nav {
    display: flex;
    justify-content: space-between;
    width: 100px;
    font-size: 1rem;
    padding: 0 2em;
}

header nav span {
    transform: scale(1.5);
}


/*End Header*/


/*main*/


/* main{
    background: url(../images/hero.jpg) center no-repeat;
    background-size: cover;
} */

main .search-bar {
    display: flex;
    justify-content: center;
}

main .search-form {
    display: flex;
    justify-content: space-between;
    width: 32rem;
    margin-top: 5rem;
}

main .search-form .select-search select {
    width: 25rem;
    height: 3rem;
    border: var(--vert) 1px solid;
    padding: 0 10px;
    background-color: #fff;
    outline: none;
    position: relative;
}

main .search-form .btn-search button {
    height: 3rem;
    border-radius: 5px;
    border: none;
    padding: 0 5px;
    background-color: var(--vert);
    color: #fff;
    cursor: pointer;
}

main .resultats {
    padding: 50px;
    display: flex;
    /* border: blue 1px solid; */
}

main .resultats .resultats-group {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    /* max-width: 1200px; */
    /* border: red 1px solid; */
}

main .resultats .resultats-group .resultat {
    border: var(--vert) 1px solid;
    width: 300px;
    padding: 15px;
    margin: 10px 10px;
    transition: ease 0.3s;
}

main .resultats .resultats-group .resultat .button {
    background: var(--vert);
    color: #fff;
    display: inline-block;
    padding: 5px;
    transition: ease .3s;
    border: 1px solid var(--vert);
    border-radius: 5px;
}

main .resultats .resultats-group .resultat .button:hover {
    background: #fff;
    border: 1px solid var(--vert);
    color: var(--vert);
}

main .info {
    display: flex;
    height: 200px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

main .bottom {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

main .bottom a {
    background: var(--vert);
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
}


/*end main*/


/* 576PX*/

@media (max-width: 576px) {
    /*head*/
    /* header .menu{
        display: block;
        margin-right: 2em;
        cursor: pointer;
    }
    header nav{
        background: var(--vert);
        height: 100vh;
        justify-content: center;
        align-items: center;
        position: fixed;
        flex-direction: column;
        top: 0;
        left: 0;
        right: 0;
        z-index: 2;
        transition: top 1s ease;
        width: 100%;
        display: none;
    }
    header nav .close{
        cursor: pointer;
        display: block;
    } */
    /*end head*/
    /*main*/
    main .search-form {
        display: flex;
        justify-content: space-around;
    }
    main .search-form .select-search select {
        width: 200px;
    }
    /*end main*/
}


/*end 576PX */